<!doctype html>
<html>
    <head>
        <title>TME Portal</title>
        <%= stylesheet_tag "bootstrap.min.css" %>
        <%= stylesheet_tag "layout.css" %>

        <%= javascript_tag "jquery-1.7.min.js" %>
        <%= javascript_tag "jquery.uitablefilter.js" %>
		<%= javascript_tag "jquery.tablesorter.min.js" %>
		<%= javascript_tag "jquery.cookie.js" %>
        
        <%= javascript_tag "bootstrap-modal.js" %>
        <%= javascript_tag "bootstrap-dropdown.js" %>
        <%= javascript_tag "bootstrap-twipsy.js" %>
        <%= javascript_tag "bootstrap-popover.js" %>
        <%= javascript_tag "bootstrap-tabs.js" %>
        <%= javascript_tag "portal.js" %>
        <script type="text/javascript">
            $(function () {
                $("a[rel=popover]")
                .popover({
                    offset: 10
                })
                .click(function(e) {
                    e.preventDefault()
                })
            })

	    
	    function clear_selected(){
		$("#filter")[0].value = "";
		$.cookie('filter', '');
		$.uiTableFilter($('table#exchanges'), "");
		$(".selectedExchange").each(function(){this.checked = false});
	    }
        </script>
    </head>

    <body>
        <div class="topbar">
            <div class="fill">
                <div class="container">
                    <h3><a href="#">TME Portal</a></h3>

                    <form id="filter-form" class="pull-left" action="">
                        <input id="filter" type="text" placeholder="Filter" />
                    </form>

		    <input type="button" style="margin-left: 20px; margin-top: 5px;" value="Merge" onclick="merge();">
		    <input type="button" style="margin-left: 10px; margin-top: 5px;" value="Clear" onclick="clear_selected();">

                    <!--
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Exchanges</a></li>
                        <li class="dropdown" data-dropdown="dropdown">
                            <a href="#" class="dropdown-toggle">Dropdown</a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Secondary link</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Another link</a></li>
                            </ul>
                        </li>
                    </ul>
                    -->

                </div><!-- container -->
            </div><!-- fill -->
        </div><!-- topbar -->

        <div class="container">
            <div class="content">
                <%= yield %>
            </div>
        </div>
    </body>
</html>
