<!doctype html>
<html>
    <head>
        <title>TME Portal</title>
        <link rel="stylesheet" href="<%= settings.prefix %>/stylesheets/bootstrap.min.css">
        <link rel="stylesheet" href="<%= settings.prefix %>/stylesheets/layout.css">

        <script src="<%= settings.prefix %>/javascript/jquery-1.7.min.js"></script>
        <script src="<%= settings.prefix %>/javascript/jquery.uitablefilter.js"></script>
        <script src="<%= settings.prefix %>/javascript/jquery.tablesorter.min.js"></script>
        <script src="<%= settings.prefix %>/javascript/jquery.cookie.js"></script>
        <script src="<%= settings.prefix %>/javascript/bootstrap-modal.js"></script>
        <script src="<%= settings.prefix %>/javascript/bootstrap-dropdown.js"></script>
        <script src="<%= settings.prefix %>/javascript/bootstrap-twipsy.js"></script>
        <script src="<%= settings.prefix %>/javascript/bootstrap-popover.js"></script>
        <script src="<%= settings.prefix %>/javascript/bootstrap-tabs.js"></script>
        <script src="<%= settings.prefix %>/javascript/portal.js"></script>
    </head>

    <body>
        <div class="topbar">
            <div class="fill">
                <div class="container">
                    <h3><a href="#">TME Portal</a></h3>

                    <form id="filter-form" class="pull-left" action="">
                        <input id="filter" type="text" placeholder="Filter" />
                    </form>

		    <input type="button" style="margin-left: 20px; margin-top: 5px;" value="Merge" onclick="merge();">
		    <input type="button" style="margin-left: 10px; margin-top: 5px;" value="Clear" onclick="clearSelected();">

                    <!--
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Exchanges</a></li>
                        <li class="dropdown" data-dropdown="dropdown">
                            <a href="#" class="dropdown-toggle">Dropdown</a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Secondary link</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Another link</a></li>
                            </ul>
                        </li>
                    </ul>
                    -->

                </div><!-- container -->
            </div><!-- fill -->
        </div><!-- topbar -->

        <div class="container">
            <div class="content">
                <%= yield %>
            </div>
        </div>
    </body>
</html>
