$("#rrdmodal > .modal-body")
    .empty()
    .append("<ul id=\"metric_list\"><% @metrics.each do |k,v| %><li><%= escape_html k %>: <%= escape_html v %></li><% end %></ul>")
    .append("<img class=rrd src='/images/<%= File.basename(@file) %>.raw.png?<%= Time.now.to_i %>'>")
    .append("<img class=rrd src='/images/<%= File.basename(@file) %>.size.png?<%= Time.now.to_i %>'>")
    .append("<img class=rrd src='/images/<%= File.basename(@file) %>.source.png?<%= Time.now.to_i %>'>")
$("#metric_list")
    .append("<li>Consumer Hosts: <%= escape_html @consumers %></li>")
    .append("<li>Producer Hosts: <%= escape_html @producers %></li>")
